.about-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: scale-up-center 0.2s ease-in-out;
}

.about-description img {
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}

.about-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.about-description div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  max-width: 500px;
  position: relative;
}

.about-description div h4 {
  margin: 0;
}
.about-description h2 {
  background-color: #ffd312;
  padding: 2px 25px;
  border-radius: 10px;
  border: 2px solid black;
  transform: rotate(-2deg);
  margin: 0;
  margin-top: -40px;
  font-size: 22px;
  animation: scale-up-center 0.2s both;
  animation-delay: 0.5s;
  opacity: 0;
}

.email {
  background-color: #f0aeae;
  padding: 2px 25px;
  border-radius: 10px;
  border: 2px solid black;
}
@media (max-width: 900px) {
  .about-description img {
    width: 250px;
  }
  .about-description h2 {
    font-size: 18px;
  }

  .about-description div {
    max-width: 400px;
  }
}
@media (max-width: 650px) {
  .about-description img {
    width: 300px;
  }
  .about-box {
    margin: 0 5px;
  }
  .about-description {
    flex-direction: column;
    padding: 0.5rem;
  }
}
