/* SKILLS  */
.skills-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  .skills-items li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .skills-items li h5 {
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    margin: 0;
  }

  /* LANGUAGES  */
  .languages-items{
    display: flex;
    flex-direction: column;
   
  }
.languages-items ul{
  list-style-type: none;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: 0;
}
.languages-items li{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.languages-items h3{
  text-transform: capitalize;
  margin: 0;
}



  /* EDUCATION  */

  .education-items{
    padding: 1rem;
    border-bottom: 1px solid rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .education-items h3{
    margin: 0;
  }
  /* WORK EXPERIENCE  */

  .experience-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

  }

  .experience-title h3{
    margin: 0;
  }
  .roll-description {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 1rem ;


  }
  .roll-description h4{
    margin: 0;
  }

@media (max-width: 650px) {
  
  .experience-title{
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
  }

  .roll-description {
    padding: 1rem .5rem;

  }
.languages-items li{
  gap: .5rem;
}
}