.resume-mobile-page{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: scale-up-center .2s ease-in-out;
}
.CV-container {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.CV-container-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CV-container-text h5 {
  margin: 0;
  font-size: 16px;
}

.filtered-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  .filtered-items li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .filtered-items li h5 {
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    margin: 0;
  }

@media (max-width: 650px) {
.resume-mobile-page{
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;



}
  .filtered-items {
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;

  }
}