.resume-page {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

}

.resume-page .left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.CV-container {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.CV-container h5 {
  margin: 0;
  font-size: 16px;
}

.education-container {
  padding: 0.5rem 1rem;
  font-size: 14px;
}
.education-items {
  padding: 0.5rem;
}
.education-items h3 {
  margin: 0;
}
.education-items p {
  color: gray;
}

.languages-content ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 4rem 1rem 1rem;
}

.languages-content li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 13px;
}
.languages-content i {
  color: black;
  padding: 0.2rem;
  font-size: 14px;
}
.languages-content h3 {
  padding: 0;
  margin: 0;
}

/* .experience-box{
  max-width: 480px;
} */
.experience-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-container {
  padding: 0.5rem 1rem;
}
.experience-title h3 {
  margin: 0;
}

.roll-description {
  margin: 0.5rem 0 2rem 0;
}
.roll-description h4 {
  margin: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 1150px) {
  .resume-page {
    flex-direction: column;
    top: 5%;
    gap: .5rem;
    padding-bottom: 100px;
  }
  .resume-page .bottom-column {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

