/* General Page Styles */
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Form Section */
.form-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.form-header{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.form-header h1 {
  font-size: 2rem;
  font-weight: 900;
}

.form-header p {
  color: var(--text-secondary);
}

/* Form Styles */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-form .row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media(min-width:640px) {
  .contact-form .row {
    flex-direction: row;
  }
}

.contact-form label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-form span {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  font-size: 1rem;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #137fec;
  box-shadow: 0 0 0 2px rgba(19, 127, 236, 0.5);
}

.contact-form textarea {
  min-height: 9rem;
}

.contact-form button {
  background-color: var(--button);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.contact-form button:hover {
  background-color: var(--button-hover);
}

/* Social Section */
.social-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.05);
}

.social-header{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.social-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.social-header p {
  color: var(--text-secondary);
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
  text-decoration: none;
  color: inherit;
  margin-bottom: 0.5rem;
}

.social-links a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.social-links .icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: white;
}


/* SVG icon size */
.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.social-links small {
  color: #8895a7;
}