.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", -apple-system, sans-serif;

}

.title-typewriter {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid currentColor;
  width: 0;
  font-weight: 700;

  animation:
    typing 1s steps(30, end) forwards,
    blink 0.8s step-end infinite;
}

.title-typewriter-complete {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  width: 7.3ch;
  font-weight: 700;
  border-right: 3px solid transparent;
}

@keyframes typing {
  to {
    width: 7.3ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.title-fadein {
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(6px);
  font-weight: 400;

  animation: fadeIn 0.8s ease-out forwards;
  animation-delay: 1.3s;
}

.title-fadein-complete {
  font-size: 1.5rem;
  opacity: 1;
  transform: translateY(0);
  font-weight: 400;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}