.settings{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.preset-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2px;
}

.preset-color {
  border: 2px solid black;

  width: 25px;
  height: 25px;
  cursor: pointer;
}