.screen {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(to right, lightgray 1px, transparent 1px),
  linear-gradient(to bottom, lightgray 1px, transparent 1px);
background-size: 100px 100px;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0 ;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  background-color: #fad844;
  border-bottom: 2px solid black;
  padding: 0.5rem 1rem;
}

.menu-bar h3 {
  margin: 0;
}

.menu-bar-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
  position: relative;
}

.nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.file-dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dadad3;
  border: 2px solid black;
  z-index: 999;
}

.dropdown-content button {
  padding: 0.5rem 2rem 0.5rem 1rem;
  transition: 0.2s ease-in-out;
}
.dropdown-content button:hover {
  background-color: black;
  color: white;
}

/* DESK */
.desk {
  display: flex;
  height: 100vh;
 
}

.main-desk {
  flex: 0 0 90%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll; */
}

.welcome-box{
  position: absolute;
  top: 30%;
  left: 30%;
}
/* ROUTES */
.routes-desk {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.routes-desk ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0;
}

@media (max-width: 1150px) {
  .desk {
    display: flex;
    flex-direction: column;   
  }

  .routes-desk {
    background-color: #fafafa;
    border-top: 2px solid black;
    position: fixed;
    bottom: 0%;
    width: 100%;
  }
  .routes-desk ul {
    flex-direction: row;
    padding-top: 0.5rem;
  }

  .welcome-box{
    left: 33%;
  }
}
@media (max-width: 900px) {
  .main-desk{
  padding: 50px 0px 250px 0px;

  }
  .welcome-box{
    left: 28%;
  }
 
}
@media (max-width: 650px) {
 
    .welcome-box{
      left: 5%;
    }
  .welcome-box img {
    width: 350px;
  }

  .nav{
    gap: .5rem;
  }
  .menu-bar-nav h3 {
    display: none;
  }

  .file-dropdown {
    display: none;
  }
}
