.main-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around
  
}
.desktop-container {
  font-family: "Inter", sans-serif;

  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  left: 2%;
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.nav-container ul{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 2rem;

}

.self-portrait {
  position: relative;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.self-portrait:hover {
  z-index: 3;
  scale: 1.1;
}

.self-portrait img {
  width: 330px;
  height: 430px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.camera-button {
  background-color: #e9e9e980;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.camera-button i {
  background-color: gray;
  color: #e9e9e9;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 14px;
}

.self-description {
  position: absolute;
  top: 57%;
  left: 57%;

  transition: 0.2s ease-in-out;
  z-index: 2;
  font-size: 14px;
}
.self-description:hover {
  scale: 1.1;
}

.self-description .box-content {
  width: 300px;
}

.self-description .children-content {
  padding: 1.5rem;
}
.self-description h4 {
  margin: 0;
}
.self-description .children-content p {
  margin-top: 0.5rem;
}


/* .info-card {
  position: absolute;
  background-color: #fafafa;
  background-image: url("./cardboard-flat.png");
  border-radius: 10px;
  width: 400px;
  height: 250px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 30%;
  top: 50%;
  z-index: 1;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.self-portrait:hover + .info-card {
  left: 10%;
  opacity: 1;
  transform: rotate(-5deg);
}

.info-card:hover {
  z-index: 3;
  left: 10%;
  opacity: 1;
  transform: rotate(-5deg);
  scale: 1.1;
} */

.photo-info {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  top: 15%;
  left: 8%;
  opacity: 0;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.self-portrait:hover .photo-info {
  opacity: 1;
  transform: rotate(-25deg);
}

.photo-info img {
  height: 23px;
  width: 23px;
  transform: rotate(-80deg);
}
.separator {
  border-left: dashed 1px black;
  height: 100%;
}
.card-content {
  background-color: white;
  background-image: url("./cardboard.png");
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 370px;
  height: 220px;
}
.card-description {
  display: flex;
  flex-direction: column;
}
.card-img img {
  width: 90px;
  height: 200px;
}

.info-list ul {
  list-style-type: none;
  padding: 0;
}
.info-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-list h3 {
  margin: 0;
}




.social-media-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}

.social-media-container ul{
  background-color: rgba(123, 123, 123, 0.465);
  border-radius: 28px;
  padding: 1rem;
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.social-media-container i{
   font-size: 40px;
   padding: .5rem;
  border-radius: 10px;
transition: .2s ease-in-out;
}

.social-media-container i:hover{
  scale: 1.1;
}
