.screen {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
  background-size: 100px 100px;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  background-color: #f8d059;
  border-bottom: 2px solid black;
  padding: 0.5rem 1rem;
}

.menu-bar h3 {
  margin: 0;
}

.menu-bar-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
  position: relative;
}

.nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.CV-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.CV-container {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.CV-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CV-container-text h5 {
  margin: 0;
  font-size: 16px;
}

/* DESK */
.desk {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

.main-desk {
  flex: 0 0 90%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  position: relative;
}
.welcome-box img:nth-child(1) {
  position: absolute;
  bottom: -20px;
  left: -30px;
  animation: scale-up-center 0.2s ease-in-out forwards;
  opacity: 0;
  animation-delay: 3s;
  
}

.welcome-box img:nth-child(2) {
  position: absolute;
  top: -20px;
  right: -30px;
  animation: scale-up-center 0.2s ease-in-out forwards;
  animation-delay: 3.5s;
  opacity: 0;

}


.welcome-box video {
  width: 600px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

/* ROUTES */
.routes-desk {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
  z-index: 998;
  overflow: visible !important;
}


.routes-desk ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  transform: translateY(-2rem);
}

@media (max-width: 1150px) {
  .welcome-box video {
    width: 500px;
  }
}
@media (max-width: 900px) {
  .desk {
    flex-direction: column;
  }

  .routes-desk {
    position: fixed;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 999;
  }

  .routes-desk ul {
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    background-color: #dadad3bc;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 0 1rem 0.5rem;
    border: 2px solid gray;
  }
}
@media (max-width: 650px) {
  .nav {
    gap: 0.5rem;
  }
  .menu-bar-nav h3 {
    display: none;
  }

  .file-dropdown {
    display: none;
  }

  .welcome-box video {
    width: 350px;
  }
  .routes-desk ul {
    gap: 5px;
    padding: 0 5px 0.5rem;
  }

  .welcome-box img:nth-child(1) {
    width: 50px;
    bottom: -15px;
    left: -15px;
  }

  .welcome-box img:nth-child(2) {
    width: 50px;
    top: -15px;
    right: -15px;
  }
}
