.screen {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
  background-size: 100px 100px;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  background-color: rgb(231, 231, 231);
  border-bottom: 2px solid rgb(193, 193, 193);
  padding: 0.5rem 1rem;
  font-size: 14px;
}

.menu-bar h3 {
  margin: 0;
}

.menu-bar-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav {
  display: flex;
  gap: 1rem;
  position: relative;
}

.nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 0;
}

.nav button:hover,
.nav a:hover {
  color: #0093e1;
  text-decoration: underline;
}

.CV-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.CV-container {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.CV-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CV-container-text h5 {
  margin: 0;
  font-size: 16px;
}

/* DESK */
.desk {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

.main-desk {
  flex: 0 0 90%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: dropBounce .5s forwards;

}

.box-wrapper {
  display: flex;
  gap: 5px;
}

.welcome-box .word-wrapper {
  display: inline-block;
  cursor: pointer;
  white-space-collapse: preserve;
  font-weight: 100;
  text-align: center;
  user-select: none;
  text-transform: none;
  color: rgb(0, 0, 0);
  font-family: "Instrument Serif", "Instrument Serif Placeholder", serif;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.2em;
}

.welcome-box .word-wrapper.title {
  font-size: 120px;
  font-style: italic;
  letter-spacing: 0.02em;
  margin: 0;
}

.welcome-box .letter-framer {
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.welcome-box .letter-framer:hover {
  -webkit-text-stroke-width: 0.1rem;
  transform: translateX(-4px) scale(1.2);
}

.welcome-box .word-wrapper.title .letter-framer:hover {
  -webkit-text-stroke-width: 0.2rem;
  transform: translateX(7px) scale(1.1);
}

@media (max-width: 900px) {
  .desk {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .nav {
    gap: 0.5rem;
  }

  .menu-bar-nav h3 {
    display: none;
  }

  .welcome-box .word-wrapper {
    font-size: 20px;
  }

  .welcome-box .word-wrapper.title {
    font-size: 60px;
  }

}