/* KEYFRAMES  */
@keyframes show {
  from {
    opacity: 0.5;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.resume-container {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  }
.resume-container h1{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  font-size: 5vw;
  text-transform: uppercase;
  margin: 0;
}

.resume-container h2 {
  color: #f0532c;
  font-family: 'WindSong', sans-serif;
  font-size: 3vw;
  margin: 0;
  transform: rotate(-10deg);
  line-height: 0;


  view-timeline-name: --title;
  view-timeline-axis: block;

  animation-timeline: --title;

  animation-name: fade-in;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.resume-container ul {
  list-style-type: none;
  padding: 0;
}

/* LEFT COLUMN  */
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* EDUCATION  */
.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.education-section ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.education-section li {
  display: flex;
  align-items: center;
  gap: 1rem;

  view-timeline-name: --title;
  view-timeline-axis: block;

  animation-timeline: --title;

  animation-name: fade-in;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.education-section div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.education-section h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.education-section p {
  color: gray;
  font-size: 18px;
}

.education-section i {
  font-size: 25px;
}

/* EXPERIENCE  */
.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #f0532c;
}



.experience-section li {
  display: flex;
}

/* RIGHT COLUMN  */
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: -5rem;
}
/* SKILLS 
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.8;
}



.skills-section ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 3rem;
}
.skills-section li {
  background-color: white;
  width: 75px;
  height: 95px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;


  view-timeline-name: --skills;
  view-timeline-axis: block;

  animation-timeline: --skills;
  animation-name: show;

  animation-range: entry 30% cover 50%;
  animation-fill-mode: both;
}
.skills-section i {
  font-size: 45px;
  }

.skills-section p {
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
}
*/
/* LANGUAGES */
.languages-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.languages-section ul {
  display: flex;
  gap: 2rem;
}

/* CV SECTION  */
.cv-section button {
  background-color: #293f5d;
  border-radius: 999px;
  padding: 1rem 2rem;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out
}

.cv-section button:hover {
  scale: 1.1;
}

/* MOBILE VERSION  */

@media (max-width: 768px) {
  .resume-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .resume-container h2 {
    font-size: 6vw;
  }
  .skills-section {
    margin-top: -4rem;
  }
  .skills-section h1 {
    font-size: 15vw;
  }

  .education-section div {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .education-section li {
    font-size: 15px;
    align-items: flex-start;
  }
  .education-section h3,
  p {
    margin: 0;
  }
}
