.box-content {
    background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.box-nav {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #e9e9e941;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    box-shadow: 0 4px 6px -2px #e8e8e890;

}


.box-nav span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.box-nav span:nth-child(1){
   background-color: #FF5F56;
}
.box-nav span:nth-child(2){
   background-color: #FFBD2E;

}
.box-nav span:nth-child(3){
   background-color: #27C93F;

}

.box-nav p {
    font-weight: 900;
    margin-left: 25%;
}
