.box-content {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid black;

}

.box-nav {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-bottom: 2px solid black;


}


.box-nav button{

  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: .2s ease-in-out;
}

.box-nav button:hover{
    scale: 1.1;
}
.box-nav p {
    font-weight: 900;
    margin: auto;
}
