.box-content {
    box-shadow: 10px 13px 0px rgba(0, 0, 0, 0.7);
    border: 2px solid black;

}

.box-nav {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-bottom: 2px solid black;


}

.box-nav-btns{
    display: flex;
    gap: .5rem;
}
.box-nav-btns button{

  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}



.box-nav-btns i{
    font-size: 10px;
    padding: 4px 6px;
  border: 2px solid black;
  border-radius:50% ;
  background-color: rgb(237, 237, 237);



}

.box-nav p {
    font-weight: 900;
    margin: auto;
}
