.window-frame {
  position: relative;
  z-index: 2;
  margin: 1rem;
  background: rgba(246, 246, 246, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 0.75rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.title-bar {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.window-buttons span {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.close {
  background: var(--close);
}

.minimize {
  background: var(--minimize);
}

.maximize {
  background: var(--maximize);
}

.title {
  font-size: 0.875rem;
  font-weight: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}