.calculator-container {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #999999;
  background-color: #f7f6f0;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.07);
  height: fit-content;

  max-width: 200px;
}

.calculator-display {
  background-color: #ababa8;
  border-radius: 10px;
  border: 2px solid black;

  font-size: 2rem;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 20px;
  word-break: break-word;
}

.calculator-button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-button {
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid black;
}

.calculator-button:hover {
  background-color: rgb(229, 229, 229);
}

.operator {
  background-color: rgb(248, 208, 89);
}

.operator:hover {
  background-color: rgb(240, 180, 0);
}

.equal,
.clear {
  background-color: rgb(239, 152, 2);
}


@media (max-width: 650px) {
.calculator-container {
  max-width: 150px;
}

  .calculator-container .calculator-display {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .calculator-container .calculator-button-grid {
    gap: 5px;
  }

  .calculator-container .calculator-button {
    font-size: 1rem;
  }
}
