
.clock{
    display: flex;
    gap: 1rem;
    background-color: #f78331;
    border: 2px solid black;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    font-family: 'Tektur', sans-serif;
    font-size: 20px;

}