.desk-folders {
  position: fixed;
  top: 10%;
  width: 100%;
  max-height: 80vh;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  gap: 3rem;
}

.folder-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.folder-item img {
  cursor: pointer;
  width: 60px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
  transition: all 0.2s ease-in-out;
}

.folder-item img:hover {
  scale: 1.1;
}

@media (max-width: 900px) {
  .desk-folders {
    gap: 2rem;
    justify-content: space-around;
    align-content: flex-start;
  }

  .desk-folders img {
    width: 50px;
  }
}

@media (max-width: 600px) {
  .desk-folders {
    max-height: 40vh;
    top: 7%;
    margin-left: 0;
    gap: 1.5rem;
    align-content: center;
  }
}