.filter-container {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
  border: 2px solid black;

  font-family: "Inter", sans-serif;
  /* animation: scale-up-center 0.5s; */

}


.filters-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #f8d1fc;
  border-right: 2px solid black;
}

.deco-btns {
  display: flex;
  gap: 0.5rem;
}

.deco-btns span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid black;
}
.deco-btns span:nth-child(1) {
  background-color: #deeb7d;
}
.deco-btns span:nth-child(2) {
  background-color: #f78331;
}
.deco-btns span:nth-child(3) {
  background-color: #dc71fb;
}

.filters-nav h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
}
.filters-nav button {
  border: none;
  cursor: url(./cursor-pointer.png), default;
  width: -webkit-fill-available;
  padding: 0.3rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.items-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.item-title {
  border-bottom: 1px solid rgba(241, 241, 241, 0.5);
  padding: 0.5rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #deeb7f;
  color: rgb(26, 26, 26);
  font-weight: 900;
  border-bottom: 2px solid black;
}

.filtered-items {
  background-color: #fdfbe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 376px;
}

.filtered-items ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  padding: 0;
}

.filtered-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.filtered-items i {
  font-size: 40px;
}

.filtered-items li h5 {
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
  margin: 0;
}


