.filter-panel-container{
    display: flex;
}

.all-filters{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #dadad3;
    border-bottom-left-radius: 10px;
    border-right: 2px solid black;
    padding: .5rem;
}

.all-filters div{
    padding:5px 15px;
    border-radius: 20px;

}
.filters-content-map{
    width: 500px;
    height: 350px;
    padding: 1rem;
    overflow-y: scroll;
}
@media (max-width: 900px) {

    .filter-panel-container{
        flex-direction: column;
    }
.all-filters{
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;



}
    .all-filters div{
    padding:5px 8px;
    font-size: 14px;

    }
.filters-content-map{
    width: fit-content;
    height: 450px;

    padding: 1rem .5rem;


}
}