.filter-container {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  transition: .2s ease-in-out;
}

.filter-container:hover{
  scale:1.1
}
.filters-nav {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #e9e9e9cd;
}

.deco-btns {
  display: flex;
  gap: 0.5rem;
}

.deco-btns span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.deco-btns span:nth-child(1) {
  background-color: #ff5f56;
}
.deco-btns span:nth-child(2) {
  background-color: #ffbd2e;
}
.deco-btns span:nth-child(3) {
  background-color: #27c93f;
}

.filters-nav h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: gray;
  font-size: 14px;
  font-weight: 100;
}
.filters-nav button {
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  border-radius: 8px;
  padding: 0.3rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.items-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.item-title {
  border-bottom: 1px solid rgba(241, 241, 241, 0.5);
  padding: 0.5rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: rgb(26, 26, 26);
  font-weight: 900;
}
