.folder-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.folder-container i {
  font-size: 50px;
  color: #4da6ff;
  transition: 0.2s ease-in-out;
}
.folder-container i:hover {
  scale: 1.2;
}

.folder-container p {
  font-size: 14px;
}
