.folder-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.folder-container button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.folder-container img{
  cursor: pointer;
  width: 80px;
  transition: all 0.3s ease-in-out;
}
.folder-container p {
  font-size: 14px;
}


@media (max-width: 1250px) {
.folder-container img{
  width: 40px;
}
.folder-container p {
  font-size: 12px;

}
}

