.navbar-container {
  background-color: rgba(239, 239, 239, 0.5);
  backdrop-filter: blur(17px);
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.navbar-container.visible {
    opacity: 1; 
    transition: opacity 0.5s ease-in-out;
  }

.navbar-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.navbar-container a {
    font-family: "Lato, sans-serif";
  font-weight: 100;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
