.navbar {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 999;
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.nav-link {
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.nav-link img {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.07);

  width: 50px;

  border-radius: 8px;
}
.nav-link:last-child img {
  box-shadow: none;
  filter: drop-shadow(0px 0px 5px 3px rgba(0, 0, 0, 0.7));
}
.nav-link:hover {
  transform: translateY(-10px) scale(1.1);
}

.nav-tooltip {
  visibility: hidden;
  top: -85%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.482);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.nav-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.482) transparent transparent transparent;
}

.nav-link:hover .nav-tooltip {
  visibility: visible;
  opacity: 1;
}

.nav-link:nth-child(6) {
  background: linear-gradient(to bottom, #c3c3c3, #777777);

  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.07);

}

.nav-link:nth-child(6) img{
  box-shadow: none;
}

.nav-link:nth-child(6):hover img {
  animation: spin 2s linear infinite;
}