.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  overflow: hidden;
  background-color: white;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-front img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card-back {
  overflow: hidden;
  background-color: white;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.card-front::before,
.card-back::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 46%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 54%
  );
  animation: shine 4s infinite;
}

