.skills {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 2rem;
  width: 600px;
  height: 500px;

}

.skills-header {
  padding: 5px;
  background-color: #c5c7cf77;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

}

.skill-nav {
  background-color: transparent;
  border: none;
  color: var(--text-muted);
  cursor: pointer;
  padding: 4px 30px;
  border-radius: 8px;
  font-size: 14px;

}


.skill-nav.active {
  background: #fafafa;
  color: #000;
}

.skills-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: .5rem;
  overflow-y: scroll;
}

.skill-category {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  gap: 1rem;

}

.skill-category h3 {
  font-size: 14px;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  justify-items: start;
  padding: 0;
  margin: 0;
}

.skill-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.skill-list li p {
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
  margin: 0;
}

.soft-skill-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: .5rem;
}


.soft-skill-list li{
    color: #4b5563;
  line-height: 1.6;
  font-size: 15px;
}

@media (max-width: 700px) {
  .skill-list {
    height: 400px;
    gap: 1em;
    padding: .5rem;
  }
}