.skills-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5em;
    padding: 1rem;
    margin: 0;
    overflow-y: scroll;
  }
  
  .skills-items li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .skills-items li p {
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    margin: 0;
  }


@media (max-width: 700px) {
  .skills-items {
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    gap: 1em;
    padding: .5rem;
  }
}