:root {
  --primary: #137fec;
  --text-secondary: #4c739a;
  --text-muted: #6b7280;
  --button: #137fec;
  --button-hover: #0f67c4;
  --bg-dark: rgba(16, 25, 34, 0.85);
  --close: #ff5f57;
  --minimize: #febb2e;
  --maximize: #28c840;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
  background-size: 100px 100px;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}