:root {
  background-color: #fafafa;
}

body {
  margin: 0;
}

/* KEYFRAMES */

@keyframes scale-up {
  to {
    scale: 1.5;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-away {
  to {
    opacity: 0;
  }
}

@keyframes moveRight {
  from {
    transform: translateX(-100px) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
